*{
    margin: 0px;
    padding: 0px;
    
}   
.container{
    width: 1180px;
    height: 850px;
    background-color: rgba(219, 199, 199, 0.176);
    justify-content: center;
    margin-left: 250px;
}
.main{
    display: flex;
    width: 100%;
}
.logo{
    padding: 10px 30px;
    width: 95px;
    height: 45px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.main .navbar{
    margin-left: 170px;
}
.navbar ul{
    margin: 0px;
}
ul li{
    list-style-type: none;
    float: left;
    padding: 27px 44px;
}
ul li a{
    text-decoration: none;
    padding: 0px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    opacity: .5;
    font-weight: 600;
}
ul  .active{
    opacity: 1;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(52, 52, 225);
    text-decoration-thickness: 2px;
}
.main .right-nav{
    position: relative;
    top: 29px;
    left: 240px;
}
.right-nav a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    opacity: .7;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    padding: 20px;
    background-color: rgb(235, 199, 151);
}
.container .heading{
    position: relative;
    top: 40px;
    left: 90px;
    width: 383px;
    height: 400px;
    overflow: hidden;
}
    
.heading h1{
    font-size: 72px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading span{
    font-size: 77px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading p{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading .account{
    position: relative;
    top: 115px;
    left: 0px;
}
.account a{
    text-decoration: none;
    border-style: solid;
    border-radius: 39px;
    border-color: blue;
    background-color: blue;
    opacity: .7;
    color: aliceblue;
    padding: 17px 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading .image{
    position: relative;
    left: 200px;
    top: 75px;
}
.container .landing-image{
    position: absolute;
    top: 120px;
    right: 110px;
    width: 620px;
    height: 620px;
    
}
.landing-image img{
    width: 100%;
    height: 100%;
}
.container .last-section{
    position: relative;
    top: 120px;
    left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.last-section .row1{
    display: flex;
    background-color: rgb(243, 241, 239);
    width: 390px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 3px 10px;
}
.row1 .orange{
    width: 30px;
    height: 12px;
    background-color: orange;
    opacity: .7;
    border-style: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.row1 img{
    width: 30px;
    height: 30px;
}
.row1 h4{
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 600;
}
.row1 p{
    margin-top: 7px;
    margin-left: 15px;
}
.row1 .imgg1{
    margin-left: 50px;
}
.imgg1 img{
    width: 30px;
    height: 30px;
}

.last-section .row2{
    display: flex;
    background-color: rgb(211, 206, 206);
    
    width: 390px;
    border-style: none;
    border-radius: 20px;
    
    margin-top: 20px;
    padding: 3px 10px;
}
.row2 .pink{
    width: 30px;
    height: 12px;
    background-color: pink;
    border-style: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.row2 img{
    width: 30px;
    height: 30px;
   
}
.row2 h4{
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 600;
}
.row2 p{
    margin-top: 7px;
    margin-left: 15px;
}
.row2 .imgg2{
    margin-left: 27px;
}
.imgg2 img{
    width: 30px;
    height: 30px;
}

.last-section .row3{
    display: flex;
    background-color: rgb(248, 245, 249);
    width: 390px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 3px 10px;
}
.row3 .blue{
    width: 30px;
    height: 12px;
    background-color: blue;
    opacity: .7;
    border-style: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
}
.row3 img{
    width: 30px;
    height: 30px;
}
.row3 h4{
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 600;
}
.row3 p{
    margin-top: 7px;
    margin-left: 15px;
}
.row3 .imgg3{
    margin-left: 66px;
}
.imgg3 img{
    width: 30px;
    height: 30px;
}

.last-section .row4{
    display: flex;
    background-color: rgb(245, 242, 239);
    width: 390px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 3px 10px;
}
.row4 .red{
    width: 30px;
    height: 12px;
    background-color: red;
    border-style: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 30px;
    opacity: .7;
}
.row4 img{
    width: 30px;
    height: 30px;
}
.row4 h4{
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 600;
}
.row4 p{
    margin-top: 7px;
    margin-left: 15px;
}
.row4 .imgg4{
    margin-left: 90px;
}
.imgg4 img{
    width: 30px;
    height: 30px;
}

   
    
    
    

     